{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "decorators": true,
      "privateMethods": true
    },
    "target": "es2024",
    "baseUrl": ".",
    "paths": {
      "~/*": [
        "./*"
      ],
      "@/*": [
        "./*"
      ]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "sourceMaps": true
}
